<div class="col-xs-6 col-md-3">
  <div style="position: relative">
    <%= link_to(bookmark.url, topic_bookmark_path(bookmark.topic, bookmark), class: "thumbnail") %>
  </div>
  <%= link_to 'Like', '' %>
  <% if policy(bookmark).destroy? %>
    <%= link_to "Delete", [@topic, bookmark], method: :delete, remote: true %>
  <% end %>
</div>

