<div class="col-xs-6 col-md-3">
  <div style="position: relative">
    <%= link_to(image_tag(bookmark.image_source), topic_bookmark_path(bookmark.topic, bookmark), class: "thumbnail") %>
  </div>
  <div style="text-align:center">
    <%= link_to 'Like', '', class: 'btn btn-sm' %>
    <%= link_to "Delete", [bookmark.topic, bookmark], class: 'btn btn-sm', method: :delete, remote: true %>
  </div>
  <br>
</div>

