<%= content_tag_for(:tr, bookmark) do %>
  <div class="col-xs-6 col-md-3">
    <div style="position: relative">
      <%= link_to(image_tag(bookmark.image_source), topic_bookmark_path(bookmark.topic, bookmark), class: "thumbnail") %>
    </div>
    <div style="text-align:center">
      <%= link_to 'Like', '', class: 'btn btn-xs btn-default' %>
      <%= link_to "Delete", [bookmark.topic, bookmark], method: :delete, remote: true, class: 'btn btn-xs btn-danger' %>
    </div>
    <br/>
  </div>
<% end %>
