<h1>New Bookmark</h1>

<%= form_for [@topic, @bookmark] do |f| %>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.url_field :url, class: 'form-control', placeholder: "Enter bookmark url" %>
  </div>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>