<h1> Bookmark </h1>
<%= link_to @bookmark.url, "#{@bookmark.url}", :target => "_blank" %>
<p>
<div>
  <% if policy(@bookmark).edit? %>
    <%= link_to "Edit", edit_topic_bookmark_path, class: 'btn btn-success' %>
  <% end %>
  <% if policy(@bookmark).destroy? %>
    <%= link_to "Delete", topic_bookmark_path, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>