<div class="row">
  <h3>
    <%= link_to "##{topic.title}", topic_path( topic ), class:'button-space' %>
    <%= link_to "Delete", topic, method: :delete, remote: true, class: 'btn btn-xs btn-danger'%>
  </h3>  
</div>

<div class="row">
  <%= render topic.bookmarks %>
</div>
