<div class="row">
  <h4>
    <%= link_to "##{topic.title}", topic_path( topic ) %>
  </h4>
  <%= link_to "Delete", topic, method: :destroy, remote: true %>
</div>
<div class="row">
  <%= render topic.bookmarks %>
</div>
