<h1 class="text-center">My Blocmarks</h1>
  <% @topics.each do |topic| %>
    <% if topic.bookmarks.where(user: current_user).present? %>
      <%= render topic %>
    <% end %>
  <% end %>

<h1 class="text-center">Liked Blocmarks</h1>
  <% @likes.each do |like| %>
    <%= render partial: 'bookmarks/bookmark', locals: { topic: @topic, bookmark: like.bookmark, like: like } %>
  <% end %>

  <%# @topics.each do |topic| %>
    <%# if current_user.likes.includes(:bookmark).where("bookmarks.topic_id = ?", topic.id) %>
      <%#= render topic, collection: current_user.likes %>
    <%# end %>
  <%# end %>

